.vs/
Syn.Speech.Test/obj/
Syn.Speech/obj/
packages/
*.rar
Syn.Speech/Api/obj/
Syn.Speech/Decoder/obj/
Syn.Speech/Decoders/obj/
Syn.Speech/FrontEnds/obj/
Syn.Speech/Fsts/obj/
Syn.Speech/Trainer/obj/
Syn.Speech/Results/obj/
Syn.Speech/Tools/obj/
Syn.Speech/Result/obj/
Syn.Speech/Instrumentation/obj/
Syn.Speech/Linguist/obj/
Syn.Speech/Recognizers/obj/
Syn.Speech/Util/obj/
Syn.Speech.Test/bin/
Syn.Speech.Test/obj/
